body {
    background-image: url("template/images/background-repeat.jpg");
    background-repeat: repeat;
}

#cuerpo *{
    max-height: fit-content;
    text-align: center;
    margin: 5px;
}

#cuerpo #trabajos {
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
}

#cuerpo #trabajos h2 {
    margin: 10px;
    padding: 5px;
    width: fit-content;
    border: solid;
}